[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
imblearn = "*"
statsmodels = "*"
tensorflow = "*"
scipy = "==1.8.1"
google-auth-oauthlib = "==0.5.1"

[dev-packages]

[requires]
python_version = "3.10"
